<div class="edit-tr-text">
  <form method="post" action="/transactions/<%= @transaction.id %>/update"><br>

    <label for="user"> Who are you? </label>
    <select id="user" type="text" name="user_id" style="font-size: 20px;">
      <% for user in @users %>
      <option value="<%=user.id%>"> <%=user.first_name()%> </option>
      <% end %>
    </select><br>

    <p>The previous date: <%=@transaction.today_date %></p>
    <label for="today_date"> The new date: </label>
    <input id="today_date" type="date" min="2000-01-01" max="2020-12-31" name="today_date" style="font-size: 20px;" required/><br>

    <p>The previous price: <%=@transaction.price %></p>
    <label for="price"> The new price: £</label>
    <input id="price" type="number" placeholder="e.g. 3.5" minlength= "3" maxlength="12" name="price" min="0" step="0.01" style="height: 25px; font-size: 20px;" required/>

    <p>The previous merchant: <%=@merchant.name %></p>
    <label for="merchant"> The new merchant: </label>
    <select id="merchant" type="text" placeholder="e.g. Amazon" minlength= "3" maxlength="15" name="merchant_id" style="font-size: 20px;">
      <% for merchant in @merchants %>
      <option value="<%=merchant.id%>"> <%=merchant.name%> </option>
      <% end %>
    </select>

    <p>The previous category: <%=@category.name %></p>
    <label for="category"> The new category: </label>
    <select id="category" type="text" placeholder="e.g. Entertainment" minlength= "3" maxlength="15" name="category_id" style="font-size: 20px;">
      <% for category in @categories %>
      <option value="<%=category.id%>"> <%=category.name%> </option>
      <% end %>
    </select><br><br>

    <input type="submit" value="I'm ready!" title="Are you sure? Then go for it!" style="font-size: 18px; text-decoration: none; margin:2px; padding: 7px;"/>
  </form><br>
  <button type="button" style="font-size: 18px; text-decoration: none; margin:2px;" title="You can go back to your transactions, if you have changed your mind."><a href="/transactions/index">Cancel</a></button>
</div>
<img src="/images/transaction.png" alt="wallet picture" style="position: fixed; max-width: 60%; left: 35%; top: 15%;">
